.navbar{
  margin-right: 4%;
}

ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

li{
   margin : 2% 3% 2% 2%;
}

a{
  text-decoration: none;
  color:#EC6D4C;
}

.active{
  font-weight: bold;
}

.searchForm{
  margin-left: 5%;
}

.inputText{
  border: solid black 1px;
  border-radius: 5px;
  height: 20px;
}

.inputSubmit{
  border: none;
  background-color: white;
  color: black;
  font-size: medium;
}

.title{
  margin-top: 10%;
  margin-bottom: 2%;
  font-size:5.3vw;
  text-align: center;
}

.currentWeather{
  margin-top: 8%;
  margin-bottom:8%;
  font-size: xx-large;
  text-align: center;
}

.dayList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.weeklyTitle{
  margin-left: 5%;
  font-size: xx-large;
}

.dayDiv{
  margin: 1%;
  margin-top:5%;
  margin-bottom: 5%;
  text-align: center;
}

.weekDate{
  font-size: bolder;
}

.contact{
  margin-top:25vh;
  text-align: center;
}

.error{
  margin-top:15%;
  margin-bottom:15%;
  text-align: center;
}
